[submodule "vim/pack/bundle/start/nerdtree"]
	path = vim/pack/bundle/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/bundle/start/vim-speeddating"]
	path = vim/pack/bundle/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "vim/pack/bundle/start/vim-surround"]
	path = vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/pack/bundle/start/vim-indent-guides"]
	path = vim/pack/bundle/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/pack/bundle/start/nerdcommenter"]
	path = vim/pack/bundle/start/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/pack/bundle/start/tabular"]
	path = vim/pack/bundle/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/pack/bundle/start/vim-repeat"]
	path = vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/pack/bundle/start/vim-unimpaired"]
	path = vim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/pack/bundle/start/vim-markdown"]
	path = vim/pack/bundle/start/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/pack/bundle/start/vim-titlecase"]
	path = vim/pack/bundle/start/vim-titlecase
	url = https://github.com/christoomey/vim-titlecase.git
[submodule "vim/pack/bundle/start/gruvbox"]
	path = vim/pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/pack/bundle/start/vim-airline"]
	path = vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/bundle/start/vim-airline-themes"]
	path = vim/pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
[submodule "vim/pack/bundle/start/ultisnips"]
	path = vim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/pack/bundle/start/vim-snippets"]
	path = vim/pack/bundle/start/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "vim/pack/bundle/start/fzf.vim"]
	path = vim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/bundle/start/vim-gitgutter"]
	path = vim/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/pack/bundle/opt/vim-rdf"]
	path = vim/pack/bundle/opt/vim-rdf
	url = https://github.com/niklasl/vim-rdf.git
[submodule "vim/pack/bundle/opt/Vimball"]
	path = vim/pack/bundle/opt/Vimball
	url = https://github.com/vim-scripts/Vimball.git
[submodule "vim/pack/bundle/start/vim-devicons"]
	path = vim/pack/bundle/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons.git
[submodule "vim/pack/bundle/start/ale"]
	path = vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/bundle/start/supertab"]
	path = vim/pack/bundle/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/pack/bundle/start/tagbar"]
	path = vim/pack/bundle/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/pack/bundle/start/YouCompleteMe"]
	path = vim/pack/bundle/start/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/pack/bundle/opt/papercolor-theme"]
	path = vim/pack/bundle/opt/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "vim/.vim/pack/bundle/start/vimwiki"]
	path = vim/.vim/pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
