.accent1 {
    min-height: 10px;
    background-color:#48851B;
   }
.title {
    color:#48851B;
    text-align: center;
}

.author {
    padding-top: 20px;
    color: rgb(180,180,180);
    font-size: .9em;
    font-style: italic;
    font-weight: 300;
}


h1 {
    color: #48851B;
}

h2 {
    color: #9ACF17;
}

h3 {
    color: rgb(180,180, 180);
    font-style:italic;
}


h4 {
    color: #48851B;
}

small, footnotes {
    font-family: 'Source Sans Pro', sans-serif;
}

footnotes {
	font-size: .8em;
	font-style: italic;
	font-weight: 300;
}
