priority -50

snippet django "Django App" b
__pycache__/
*.py[cod]
*.db
*.sqlite3
.ropeproject/
media/
static/
$0
endsnippet

snippet python "Python App" b
__pycache__/
*.py[cod]
.ropeproject/
$0
endsnippet

# vim:ft=snippets:
